# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore virtual environment directories
env/
venv/

# Ignore database files
*.sqlite3

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/

# Ignore pipenv files
Pipfile.lock

# Ignore pytest cache
.pytest_cache/

# Ignore coverage reports
htmlcov/
.coverage
.coverage.*

# Ignore Django migration files
*/migrations/*

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs
*.log

# Ignore local configuration files
.env
*.local

# Ignore MacOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db
ehthumbs.db
